<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CommentLikeMapper">
<!--    //增加评论点赞-->
    <insert id="insert">
        INSERT INTO comment_like (user_id, comment_id)
        VALUES (#{userId}, #{commentId})
    </insert>
<!--    //取消评论点赞-->
    <delete id="deleteById">
        DELETE FROM comment_like
        WHERE id = #{id}
    </delete>
<!--    //查询评论点赞-->
    <select id="selectByUserIdAndCommentId" resultType="commentLike">
        SELECT *
        FROM comment_like
        WHERE user_id = #{userId}
          AND comment_id = #{commentId}
    </select>

    <!-- 批量查询当前用户点赞过的评论ID -->
    <select id="selectLikedCommentIdsByUser" resultType="java.lang.Long">
        SELECT comment_id
        FROM comment_like
        WHERE user_id = #{userId}
        AND comment_id IN
        <foreach collection="commentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>